# Evaluate the performance of ANN

Running 400 epochs over trainingset size 3000

Number of epochs:    400,    training elements:   3000
Number of tests:     2854,   hidden neurons:         9
Number of successes: 1074,   rate:                0.37

---

Running 400 epochs over trainingset size 3000

Number of epochs:     400,   training elements:   3000
Number of tests:     2854,   hidden_neurons:         8
Number of successes: 1195,   success rate:        0.41

---

Running 400 epochs over trainingset size 3000

Number of epochs:     400,   training elements:   3000
Number of tests:     2854,   hidden neurons:         7
Number of successes: 1592,   success rate:        0.557
