# Evaluate the performance of ANN

```
>> for hidden = 7:11;
	jieter_test(hidden);
	jieter_test(hidden);
	jieter_test(hidden);
end
```
## 7 hidden neurons, 3 runs.
```
Number of epochs:     400,   training elements:   4999
Number of tests:     2854,   hidden neurons:         7
Number of successes: 1443,   success rate:        0.51


Number of epochs:     400,   training elements:   4999
Number of tests:     2854,   hidden neurons:         7
Number of successes: 1419,   success rate:        0.50


Number of epochs:     400,   training elements:   4999
Number of tests:     2854,   hidden neurons:         7
Number of successes: 1268,   success rate:        0.44
```

## 8 hidden neurons, 3 runs
```
Number of epochs:     400,   training elements:   4999
Number of tests:     2854,   hidden neurons:         8
Number of successes: 1416,   success rate:        0.50

Number of epochs:     400,   training elements:   4999
Number of tests:     2854,   hidden neurons:         8
Number of successes: 1264,   success rate:        0.44

Number of epochs:     400,   training elements:   4999
Number of tests:     2854,   hidden neurons:         8
Number of successes: 1425,   success rate:        0.50
```

## 9 hidden neurons, 3 runs
```
Number of epochs:     400,   training elements:   4999
Number of tests:     2854,   hidden neurons:         9
Number of successes: 1538,   success rate:        0.54

Number of epochs:     400,   training elements:   4999
Number of tests:     2854,   hidden neurons:         9
Number of successes: 1234,   success rate:        0.43

Number of epochs:     400,   training elements:   4999
Number of tests:     2854,   hidden neurons:         9
Number of successes: 1093,   success rate:        0.38
```

## 10 hidden neurons, 3 runs
```
Number of epochs:     400,   training elements:   4999
Number of tests:     2854,   hidden neurons:        10
Number of successes: 1471,   success rate:        0.52

Number of epochs:     400,   training elements:   4999
Number of tests:     2854,   hidden neurons:        10
Number of successes: 1435,   success rate:        0.50

Number of epochs:     400,   training elements:   4999
Number of tests:     2854,   hidden neurons:        10
Number of successes: 1381,   success rate:        0.48
```

## 11 hidden neurons, 3 runs
```
Number of epochs:     400,   training elements:   4999
Number of tests:     2854,   hidden neurons:        11
Number of successes: 1354,   success rate:        0.47

Number of epochs:     400,   training elements:   4999
Number of tests:     2854,   hidden neurons:        11
Number of successes: 1445,   success rate:        0.51

Number of epochs:     400,   training elements:   4999
Number of tests:     2854,   hidden neurons:        11
Number of successes: 1386,   success rate:        0.49
```
